r1_lio_ws/build
r1_lio_ws/install
r1_lio_ws/log
relies/fmt/build
sources/map*
relies/_install/lib/*.so
relies/_install/lib/*.a
relies/_install/bin
relies/_install/lib/cmake
relies/_install/lib/pkgconfig
relies/_install/*

relies/Sophus/build
relies/Sophus/CMakeLists.txt.user
relies/Sophus/*.pyc
relies/Sophus/.vscode/settings.json

# gtsam
relies/gtsam/build
relies/gtsam/debug*
relies/gtsam/.idea
relies/gtsam/*.pyc
relies/gtsam/*.DS_Store
relies/gtsam/*.swp
/relies/gtsam/examples/Data/dubrovnik-3-7-pre-rewritten.txt
/relies/gtsam/examples/Data/pose2example-rewritten.txt
/relies/gtsam/examples/Data/pose3example-rewritten.txt
relies/gtsam/*.txt.user
relies/gtsam/*.txt.user.6d59f0c
relies/gtsam/*.pydevproject
relies/gtsam/.vscode
relies/gtsam/.env
relies/gtsam/.vs/
relies/gtsam/CMakeSettings.json
# for QtCreator:
relies/gtsam/CMakeLists.txt.user*
relies/gtsam/xcode/
/Dockerfiles/gtsam/
relies/gtsam/python/gtsam/notebooks/.ipynb_checkpoints/ellipses-checkpoint.ipynb
relies/gtsam/.cache/
relies/gtsam/.venv/

# MyST build outputs
relies/gtsam/_build/
relies/gtsam/GEMINI.md
relies/gtsam/doc/#*.lyx#

relies/fmt/fmt/.vscode/
relies/fmt/fmt/.vs/
relies/fmt/fmt/
relies/fmt/fmt/*.iml
relies/fmt/fmt/.idea/
relies/fmt/fmt/.externalNativeBuild/
relies/fmt/fmt/.gradle/
relies/fmt/fmt/gradle/
relies/fmt/fmt/gradlew*
relies/fmt/fmt/local.properties
relies/fmt/fmt/build/
relies/fmt/fmt/support/.cxx
relies/fmt/fmt/
relies/fmt/fmt/bin/
relies/fmt/fmt//_CPack_Packages
relies/fmt/fmt//CMakeScripts
relies/fmt/fmt//doc/doxyxml
relies/fmt/fmt//doc/html
relies/fmt/fmt//doc/node_modules
relies/fmt/fmt/virtualenv
relies/fmt/fmt//Testing
relies/fmt/fmt//install_manifest.txt
relies/fmt/fmt/*~
relies/fmt/fmt/*.a
relies/fmt/fmt/*.so*
relies/fmt/fmt/*.xcodeproj
relies/fmt/fmt/*.zip
relies/fmt/fmt/cmake_install.cmake
relies/fmt/fmt/CPack*.cmake
relies/fmt/fmt/fmt-*.cmake
relies/fmt/fmt/CTestTestfile.cmake
relies/fmt/fmt/CMakeCache.txt
relies/fmt/fmt/CMakeFiles
relies/fmt/fmt/FMT.build
relies/fmt/fmt/Makefile
relies/fmt/fmt/run-msbuild.bat
relies/fmt/fmt/fmt.pc


relies/Livox-SDK2/.vscode
relies/Livox-SDK2/build
